.botao{
    background-color: #132dc0 ;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    padding: 18px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 24px 0;
}

.botao:hover{
    color: #a0ac00;
}