.formulario{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form{
    max-width: 50%;
    background-color: #4888e9;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: small;
    border: rgb(5, 129, 131);
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.0);
}