.campo-texto{
    margin: 24px 0;
}

.campo-texto label{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}

.campo-texto input{
    background-color: rgb(245, 243, 243);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.0);
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 18px;
    box-sizing: border-box;
}