.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}

.lista-suspensa select{
    background-color: #FFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 20px;
    padding: 20px;
    box-sizing: border-box;
}